python-dotenv~=1.0.1
dnspython~=2.7.0
idna~=3.4
httpcore~=1.0.3
httpx~=0.26.0
cryptography~=39.0.1
future~=0.18.3
anyio~=3.5.0
pytest~=7.1.2
h11~=0.14.0
jupyter~=1.0.0
pip~=22.3.1
pathlib~=1.0.1
panel~=0.14.3
attrs~=22.1.0
zlib~=1.2.13
distro~=1.9.0
wheel~=0.38.4
openssl~=1.1.1w
pillow~=9.4.0
docutils~=0.18.1
sphinx~=5.0.2
filelock~=3.9.0
pymongo~=4.10.1
requests~=2.28.1
dask~=2022.7.0
rich~=13.7.1
keras~=3.1.1
colorama~=0.4.6
ipywidgets~=7.6.5
ipython~=8.10.0
notebook~=6.5.2
yaml~=0.2.5
pyyaml~=6.0
multidict~=6.0.4
sniffio~=1.2.0
click~=8.0.4
pygments~=2.17.2
mock~=4.0.3
brotli~=1.0.9
zstandard~=0.19.0
numpy~=1.23.5
setuptools~=65.6.3
pytz~=2022.7
cffi~=1.15.1
numba~=0.56.4
openai~=1.12.0
pydantic~=2.6.1
pandas~=1.5.3
yarl~=1.9.3
aiohttp~=3.9.3
aiosignal~=1.2.0
frozenlist~=1.4.0
certifi~=2024.2.2
service_identity~=18.1.0
urllib3~=1.26.14
greenlet~=2.0.1
psutil~=5.9.0
chardet~=4.0.0
tenacity~=8.2.3
tornado~=6.1
langchain~=0.1.7
langsmith~=0.0.87
sqlalchemy~=1.4.39
packaging~=23.2
pyparsing~=3.0.9
jinja2~=3.1.2
zipp~=3.11.0
importlib_metadata~=4.11.3
pyodbc~=4.0.34
psycopg2~=2.9.9
jsonpointer~=2.1
jsonpatch~=1.33